<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="e4d3d57b-7769-480b-ae31-c3a230c0067f" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://www.test-insurance.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e4d3d57b-7769-480b-ae31-c3a230c0067ffileName">https%3A%2F%2Fwww.test-insurance.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://www.test-insurance.com</con:endpoint></con:endpoints></con:interface>